* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contact */
.contactText {
    font-size: 26px;
}
.contactTextN {
    font-size: 18px;
}

/* Navbar */
.navbar a {
    color: darkgoldenrod;
}
.navbar a:hover {
    color: white;
}
.footer {
    color: darkgoldenrod;
    background: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;

}
.btn-outline-success {
    color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
}
.btn-outline-success:hover {
    color: black;
    border: 2px solid black;
    background: darkgoldenrod;
}

/* User */
.form-control {
    border: 2px solid darkgoldenrod;
}
.form-control:hover {
    border: 4px solid darkgoldenrod;
}
.userText {
    color: black;
    font-size: 40px;
    text-align: center;
}
.userEmail {
    font-size: 20px;
}
.userPhoto {
    border-radius: 70%;
    height: 300px;
    width: 300px;
    padding: 30px;
}
.logout {
    color: black;
    background: darkgoldenrod;
    border: 10px solid darkgoldenrod;
    border-radius: 10px;
    font-size: 20px;
}
.logout:hover {
    color: darkgoldenrod;
    background: black;
    border: 10px solid black;
    border-radius: 10px;
    font-size: 20px;
    transform: scale(1.3);
}

/* Categories */
.dropdown-item:hover{
    color: black;
    background: darkgoldenrod;
}



/*
!* Селектор по ID *!
#main {
    padding: 20px;
    background-color: #ff9;
}

!* Селектор типов *!
h1 {
    color: green;
    text-align: center;
}

p {
    margin: 10px 0;
}

.mc{
    color: brown;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    width: 300px;
}

!* Селектор классов *!
.photo {
    width: 100%;
    max-width: 400px;
    border-radius: 555px;
    text-align: center;
    margin: 10px ;
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.btn.primary {
    background-color: blue;
    color: white;
}

.btn.primary:hover {
    background-color: red;
}

.btn.secondary {
    background-color: gray;
    color: white;
}

.btn.secondary:hover {
    background-color: red;
}

!* Комбинаторы *!
#main ul > li {
    list-style-type: circle;
}

h1 + h2 {
    color: darkgreen;
}
*/

