* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

/* Contact */
.contactText {
    font-size: 26px;
}

.contactTextN {
    font-size: 18px;
}

/* Navbar */
.navbar a {
    color: darkgoldenrod;
}

.navbar a:hover {
    color: black;
    background: darkgoldenrod;
    height: 100%;
    display: flex;
    border-radius: 10px;

}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    color: darkgoldenrod;
    background: black;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
}

.footerLinks {
    color: darkgoldenrod;
}

/* search button */
.btn {
    color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
}

.btn:hover {
    color: black;
    border: 2px solid black;
    background: darkgoldenrod;
}

/* Home photo*/
.imageHome {
    text-align: center;
    width: 100%;
    height: auto;
}

/* cards home */
.card {
    display: flex;
    justify-content: space-between;
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.card:hover {
    transform: scale(1.03);
}

/* cards home icons */
.homeCard-icon {
    color: darkgoldenrod;
    margin-left: 37.5%;
    font-size: 150px;
}

/* User */
.form-control {
    border: 2px solid darkgoldenrod;
}

.form-control:hover {
    border: 4px solid darkgoldenrod;
}

.userText {
    color: black;
    font-size: 40px;
    text-align: center;
}

.userEmail {
    font-size: 20px;
}

.userPhoto {
    border-radius: 70%;
    height: 300px;
    width: 300px;
    padding: 30px;
}

/* logout, add to basket */
.logout {
    color: black;
    background: darkgoldenrod;
    border: 10px solid darkgoldenrod;
    border-radius: 10px;
    font-size: 20px;
}

.logout:hover {
    color: darkgoldenrod;
    background: black;
    border: 10px solid black;
    border-radius: 10px;
    font-size: 20px;
    transform: scale(1.1);
}

/* Categories spisok */
.dropdown-item:hover {
    color: black;
    background: darkgoldenrod;
}

/* nadpis' categorii*/
.carType {
    width: 100%;
    padding-left: 50px;
    color: darkgoldenrod;
    background: black;
    font-size: 50px;
}

/* card avto */
.mb-3 {
    width: 1500px;
    max-height: 200px;
    min-height: 200px;
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;

}

/* kartinka avto */
.mb-3 img {
    width: 60%;
    height: 180px;
    object-fit: cover;
}

.mb-3:hover {
    transform: scale(1.01);
}

/* here is your basket  */
#basketLine {
    color: lightgray;
    text-align: center;
    font-size: 70px;
}